.tableParent {
  border-collapse: collapse;
  width: 60%;
}

.tableHeader__rowCell {
  border: 1px solid #8c8c8c;
}

.tableBody__row:hover {
  background-color: #f2f2f2;
}

.tableBody__rowCell {
  border: 1px solid #8c8c8c;
  cursor: pointer;
}